@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    padding : 0 ; 
    margin : 0 ;
    font-family: 'Rubik', 'Times New Roman', Times, serif;
}
.sidebar{
    width: 19rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center ;
    align-items: center;
    gap : 10px ;
    background-color: #003253;
    position: fixed;
    top: 0;
    left: 0;
    margin : 0 ;
    padding: 0 ;
}

.profile-img{
    width: 16rem;
    height :16rem ;
    object-fit: cover;
    border-radius: 50%;
    border : solid 0.7rem #c0dfef ;
    text-align: center;
    margin-top : 6rem ;
}

nav {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.button{
    color: #FFFFFF ;
    text-decoration: none ;
    margin : 0.7rem; 
    padding : 0.7rem;
    font-size: 1.2rem ;
    font-weight: bold;
    text-transform: uppercase;
}

.button:hover{
    color : #c0dfef;
    opacity : 0.8 ;
}

.update{
    color :#FFFFFF ;
    font-style: italic;
}

.content{
    margin-left: 19rem;
    padding: 2rem;
}

section{
    padding : 4rem 1.5rem ;
    margin : 4rem 1.5rem ;
    box-sizing: border-box;
    scroll-margin-top: 6.5rem;
}

h1{
    color :#acc7d4;
    font-size: 3rem ;
    margin-top : 2rem ;
    margin-bottom : 0 ;
    padding-bottom : 0 ;
}

#profile{
    text-transform: uppercase;
}

.profile-info{
    font-size: 1.5rem;
    color: #03224C;
    font-style: italic ;
}

.profile-text{
    font-size: 2rem ;
    text-indent: 1.5rem;
    color:  #03224C;
    padding: 1.5rem 0 ;
    margin : 0.7rem 0 ;
}

a{
    text-decoration: none;
}

.social-icon{
    width: 6rem;
    height: 6rem ;
}

hr{
    color :#abc6d4 ;
    padding : 0 ;
    margin : 0 ;
}

h2{
    color: #acc7d4;
    font-size: 2rem;
    text-decoration: underline;
}

p{
    color: #03224C;

}

ul{
    list-style-type: none;
    padding : 0 ;
}

ul li{
    font-size: 1.2rem ;
    color: #03224C;
    margin : 1rem;
}

.formation-item{
    display: flex ;
    justify-content: space-between;
    align-items : center ;
    margin-bottom: 1.2rem;
}

.formation-name{
    font-weight: bold;
}

.formation-place{
    font-style: italic;
}

.formation-date{
    color :#acc7d4 ; 
    font-weight: bold;
}

h3{
    font-style: italic;
    font-weight: bold;
    font-size : 1.5rem;
}

.system{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 1.2rem ; 
    margin :1.2rem ;
}

img{
    margin: 0 1.2rem ;
}

.langage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 1.2rem ; 
    margin :1.2rem ;
}

.tools{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 1.2rem ; 
    margin :1.2rem ; 
}

.grid{
    padding : 1.2rem 0 ;
    display: grid;
    grid-template-areas: 
        "top top top"
        "left center right"
        "bottom bottom bottom " ;
    grid-template-rows: auto ;
    grid-template-columns: 1fr auto 1fr ;
    justify-items: center ;
    align-items: center;
    gap : 1.2rem ;
}

.top{
    grid-area: top ;
}

.left{
    grid-area: left ;
}

.center{
    grid-area: center ;
}

.right{
    grid-area: right ;
}

.bottom{
    grid-area: bottom ;
}

.top, .left, .right, .bottom{
    font-size : 1.5rem ;
    font-style: italic ;
    font-weight: bold;
}

.exp-item{
    display: flex ;
    justify-content: space-between;
    align-items : center ;
}

.exp-title{
    font-weight: bold;
    font-size: 1.2rem;
}

.exp-place{
    font-style: italic;
    font-size: 1rem ;
}

.exp-date{
    color :#acc7d4 ; 
    font-weight: bold;
    font-size: 1.2rem;
}

.job{
    padding-top : 1.2rem ; 
    padding-bottom: 2rem ;
    margin-bottom: 1.2rem ; 
    border-bottom: solid 0.2rem #003253 ;
}

.list{
    list-style-type: circle;
}

.info-list{
    padding : 0.7rem 0 ;
}

.info-title{
    font-size: 1.2rem ;
    font-style: italic;
    font-weight: bold;
}