@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    padding : 0 ; 
    margin : 0 ;
    font-family: 'Rubik', 'Times New Roman', Times, serif;
}
.sidebar{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center ;
    align-items: center;
    gap : 10px ;
    background-color: #003253;
    position: fixed;
    top: 0;
    left: 0;
    margin : 0 ;
    padding: 0 ;
}

.profile-img{
    width: 250px;
    height : 250px ;
    object-fit: cover;
    border-radius: 50%;
    border : solid 10px #c0dfef ;
    text-align: center;
    margin-top : 100px ;
}

nav {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.button{
    color: #FFFFFF ;
    text-decoration: none ;
    margin : 10px ; 
    padding: 10px ;
    font-size: 20px ;
    font-weight: bold;
    text-transform: uppercase;
}

.button:hover{
    color : #c0dfef;
    opacity : 0.8 ;
}

.update{
    color :#FFFFFF ;
    font-style: italic;
}

.content{
    margin-left: 300px;
    padding: 2rem;
}

section{
    padding : 60px 20px ;
    margin : 60px 20px ;
}

h1{
    color :#acc7d4;
    font-size: 50px ;
    margin-top : 20px ;
    margin-bottom : 0 ;
    padding-bottom : 0 ;
}

#profile{
    text-transform: uppercase;
}

.profile-info{
    font-size: 18px;
    color: #03224C;
    font-style: italic ;
}

.profile-text{
    font-size: 25px;
    text-indent: 20px;
    color:  #03224C;
    padding: 20px 0 ;
    margin : 10px 0 ;
}

a{
    text-decoration: none;
}

.social-icon{
    width: 90px ;
    height: 90px ;
    margin : 0 100px ;
}

hr{
    color :#abc6d4 ;
    padding : 0 ;
    margin : 0 ;
}

h2{
    color: #acc7d4;
    font-size: 30px;
    text-decoration: underline;
}

p{
    color: #03224C;

}

ul{
    list-style-type: none;
    padding : 0 ;
}

ul li{
    font-size: 18px ;
    color: #03224C;
}

.formation-item{
    display: flex ;
    justify-content: space-between;
    align-items : center ;
    margin-bottom: 20px;
}

.formation-name{
    font-weight: bold;
}

.formation-place{
    font-style: italic;
}

.formation-date{
    color :#acc7d4 ; 
    font-weight: bold;
}

h3{
    font-style: italic;
    font-weight: bold;
}

.system{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 20px ; 
    margin :20px ;
}

img{
    margin: 0 20px ;;
}

.langage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 20px ; 
    margin :20px ;
}